.hero__inner {
  height: 600px;
  background-image: url(../img/hero_bc_img.png);
  background-repeat: no-repeat;
}

.hero__box {
  width: 495px;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;  
  mix-blend-mode: normal;
  opacity: 0.8;
}