.footer {
  margin-top: 200px;
  background-color: #2C343EFF;
}

.footer__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  width: 285px;
  margin-right: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;  
  color: #83888F;
}

.messenger__list {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}