.header__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  width: 285px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar__link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;  
  color: #83888F;
  text-decoration: none;
}